@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0, 0%, 100%;
    --foreground: 245, 24%, 42%;
    
    --card: 53 100% 98%;
    --card-foreground: 159 20% 34%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;

    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 0, 93%, 74%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --accent: 258, 19%, 76%;
    --accent-foreground: 244, 99%, 51%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 245 17% 72%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;

    --radius: .75rem;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;

    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

h1 {
  font-size: 3rem;
  font-weight: 500;
}

h2 {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 3rem;
  margin-bottom: 1.25rem;
}

h3 {
  font-size: 2rem;
  font-weight: 500;
}

h4 {
  font-size: 1.75rem;
  font-weight: 500;
}

h5 {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 500;
}

.leading-none {
  line-height: 2rem;
}

h6 {
 font-size: 1rem;
 font-weight: 400;
}

p, li, dt, dl, ul {
  line-height: 1.25rem;
  font-size: .875rem;
  font-weight: 500;
}

a {
  font-size: .75rem;
  font-weight: 400;
}

.p-small {
  line-height: 1.25rem;
  margin-top: 1.25rem;
  font-size: .75rem;
  font-weight: 400;
}

.p-footer {
  line-height: 1.25rem;
  margin-top: 1.25rem;
  font-size: .6rem;
  font-weight: 400;
}

svg {
  display: inline;
}

/* cards */

#card-header{
  border-top: 1px solid hsl(240 5.9% 90%);
}

/* layout */

.side-menu {
  position: fixed;
  width: 15vw;
  height: 100vh;
  padding-top: 30vh;
}

.side-menu-wrapper {
  width: 20vw;
  height: 100vh;
}

.side-menu-text {
  text-align: right;
  margin-top: 1rem;
}

.side-menu-item {
  margin-right: 0;
}

.page-wrapper {
  display: flex;
  flex-direction: row;
  gap: 3vw;
  width: 88vw;
  margin-left: 3vw;
  margin-right: 9vw;
}

.main-scroll {
  width: 70vw;
}