@tailwind base;
@tailwind components;
@tailwind utilities;

/* color theme */

@layer base {
  :root {
    --background: 0, 0%, 100%;
    --foreground: 245, 24%, 42%;
    
    --card: 53 100% 98%;
    --card-foreground: 159 20% 34%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;

    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 0, 93%, 74%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --accent: 258, 19%, 76%;
    --accent-foreground: 244, 99%, 51%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 245 17% 72%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;

    --radius: .75rem;

    --standard-gap: 1.5rem;
    --medium-gap: 3rem;
    --big-gap: 6rem;
    --mobile-content: 373px;

    --tier-two-left-md: repeat(4, minmax(0, 1fr));
    --tier-two-right-md: repeat(8, minmax(0, 1fr));

    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;

    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;

    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* type scale */

h1 {
  font-size: 3rem;
  font-weight: 500;
}

h2 {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 3rem;
  margin-bottom: 1.25rem;
}

h3 {
  font-size: 2rem;
  font-weight: 500;
}

h4 {
  font-size: 1.75rem;
  font-weight: 500;
}

h5 {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 500;
}

.leading-none {
  line-height: 2rem;
}

h6 {
 font-size: 1rem;
 font-weight: 400;
}

p, li, dt, dl, ul {
  line-height: 1.25rem;
  font-size: .875rem;
  font-weight: 400;
}

li {
  line-height: 1.25rem;
  font-size: .875rem;
  font-weight: 400;
}

a {
  font-size: .75rem;
  font-weight: 400;
}

.p-small {
  line-height: 1.25rem;
  font-size: .75rem;
  font-weight: 400;
}

.subheader {
  line-height: 1.25rem;
  text-transform: uppercase;
  letter-spacing: 0.3px;
  font-size: .75rem;
  font-weight: 400;
}

.p-footer {
  line-height: 1.25rem;
  margin-top: 1.25rem;
  font-size: .6rem;
  font-weight: 400;
}

/* below styles are done here because of tailwind limitations*/

#card-header{
  border-top: 1px solid hsl(240 5.9% 90%);
}

#top-bar{
  border-bottom: 1px solid hsl(245 17% 72%);
}

/* misc */

svg {
  display: inline;
}